.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 70px;
  color: rgb(150, 150, 150);
}

ul {
 list-style: none;
}

.footer > * {
  display: inline;
  margin-right: 4px;
}

button {
  background-color: #92d7ed;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 2px 12px;
  margin: 0px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

:focus {
  outline: none;
}

.delete{
  background-color: rgb(228, 97, 97);
  width: 20px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
}

.complete {
  background-color: rgb(97, 228, 118);
  width: 20px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
}

.incomplete {
  background-color: rgb(250, 180, 64);
  width: 20px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
}

.submitEdit {
  background-color: rgb(97, 228, 118);
  width: 20px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
}

table {
  margin: 10px auto 10px auto;
  border-spacing: 10px;
}

.todoEditInput {
  height: 16px;
  width: 60px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
